.banner {
    position: relative;
    background: var(--backgroundSecondary);
    padding: 50px 5%;

    .banner_image {
        filter: brightness(40%) drop-shadow(20px 20px 50px orangered);
        width: 100%;
        height: auto;
    }
    .banner_text_container {
        position: absolute;
        top: 20%;
        padding-left: 2%;

        h1 {
            font-size: 14px;
            margin: 10px 0;
            color: white;
        
        }

        p {
            font-size: 12px;
            font-weight: 700;
        }
    }

    .banner_sub_text_container {
        position: absolute;
        bottom: 25%;
        padding-left: 2%;
        color: orangered;
        font-weight: 700;
        font-size: 9px;
    }

    @media (min-width: 700px) {

        padding: 0px 10%;
        padding-top: 100px;
        .banner_text_container {
            h1 {
                font-size: 36px;
            }

            p {
                font-size: 20px;
            }
        }

        .banner_sub_text_container {
            font-size: 19px;
        }
    }
}