/** @format */

.our_work_container {
     padding: 50px 10%;
     background: var(--backgroundSecondary);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     z-index: -10;

     .heading {
          color: orangered;
          margin: 50px 0;
          font-size: 24px;
     }

     @media (min-width: 768px) {
          padding: 100px 10%;
          .heading {
               font-size: 32px;
          }
     }

     @media (min-width: 1028px) {
          

          .heading {
               font-size: 45px;
          }
     }

     .gallery {
          display: grid;
          grid-template-columns: repeat(1, minmax(100px, 300px));
          grid-auto-rows: minmax(150px, auto);
          gap: 10px;
          align-items: center;
          justify-content: center;
          place-items: center;

          .item {
               padding: 5px;
               .image {
                    width: 100%;
                    object-fit: contain;
               }
          }

          @media (min-width: 768px) {
               grid-template-columns: repeat(3, minmax(100px, 300px));
          }

          @media (min-width: 1028px) {
               grid-template-columns: repeat(4, minmax(100px, 300px));
               gap: 30px;
          }
     }

     .actions {
      margin: 50px 0;

      @media (min-width: 768px) {
         margin: 150px 0;
      }

      .action {
         border: 1px solid orangered;
         border-radius: 8px;
         padding: 10px;
         transition: 0.3s ease-in;
      }

      .action:hover {
         color: var(--accentPrimary);
         border-color: var(--accentPrimary);
         transform: translateY(-10px);
      }
   }
}
