/** @format */

section {
   .container {
      padding: 20px;
      .heading {
         margin: 50px 0;
      }

      .shoots {
         display: grid;
         grid-template-columns: 1fr;
         gap: 10px;

         @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            gap: 20px;
         }

         @media (min-width: 1028px) {
            grid-template-columns: repeat(3, minmax(300px, 500px));
            place-content: center;
            gap: 30px;
         }

         .shoot {
            border: 1px solid orangered;
            padding: 10px;
            border-radius: 8px;
            .shoot_heading {
               display: flex;
               gap: 20px;
               padding: 10px 0;
               justify-content: space-between;
               width: 100%;
               align-items: center;

               @media (min-width: 768px) {
                  font-size: 19px;
               }

               h1 {
                  font-family: var(--fontPrimary);
               }

               .total {
                  font-size: 21px;
                  color: red
               }

               .total.booked {
                  color: green;
               }
            }

            .booked_services, .client, .actions, .description {
               border-top: 1px solid orangered;
               width: fit-content;
               padding: 10px 0;;
            }

            .booked_services {
               width: 100%;

               .booked_service {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;
                  gap: 20px;
                  margin: 10px 0;

                  .service_heading {
                     h1 {
                        font-weight: 700;
                     }
                  }

                  .price {
                     color: orangered;
                  }
               }
            }

            .client {
               span {padding: 10px 0;
                  color: orangered;
               }
            }

            .actions {
               display: flex;
               align-items: center;
               gap: 50px;

               div {
                  display: flex;
                  gap: 20px;
                  align-items: center;

                  button {
                     font-size: 24px;
                  }

                  .delete {
                     color: red;
                     transition: .3s ease-in;
                  }

                  .delete:hover {
                     transform: translateY(-5px);
                  }
               }
            }
         }
      }
   }
}
