/** @format */

.contact_container {
   background: var(--backgroundSecondary);
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px 10%;

   .heading {
      color: orangered;
      margin: 40px 0;
      font-size: 24px;
   }

   .contact {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .contact_details {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         flex-wrap: wrap;
         justify-content: space-between;
         border-bottom: 1px solid orangered;

         div {
            display: flex;
            align-items: center;
            margin: 10px 0;

            .icon {
               color: orangered;
               margin-right: 5px;
            }
         }
      }

      .form {
         margin-top: 20px;

         .form_field {
            display: flex;
            flex-direction: column;
            margin: 10px 0;

            label {
               font-size: 12px;
            }

            input,
            textarea {
               background: var(--backgroundSecondary);
               color: white;
               border-radius: 5px;
               padding: 7px;
               border: 1px solid grey;
            }

            input:focus,
            textarea:focus {
               outline: none;
            }
         }

         .submit_btn {
            button {
               border: 1px solid orangered;
               border-radius: 8px;
               padding: 10px;
               transition: 0.3s ease-in;
            }

            button:hover {
               color: var(--accentPrimary);
               border-color: var(--accentPrimary);
               transform: translateY(-10px);
            }
         }
      }

      @media (min-width: 700px) {
         flex-direction: row;
         justify-content: center;
         width: 100%;
         gap: 30px;

         .heading {
            font-size: 36px;
         }

         .contact_details {
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            gap: 30px;
            border-bottom: none;

            div {
               flex-direction: column;
               align-items: flex-end;
            }
         }

         .form {
            border-left: 1px solid orangered;
            padding-left: 30px;
            .form_field {
               margin: 20px 0;
            }
         }
      }
   }

   @media (min-width: 700px) {
      padding: 200px 10%;

      .heading {
         font-size: 36px;
         margin-bottom: 100px;
      }
   }
}
