/** @format */

.services {
   background: var(--backgroundPrimary);
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px 10%;

   .services_heading {
      color: orangered;
      font-size: 24px;
      margin-bottom: 40px;

      @media (min-width: 768px) {
         font-size: 32px;
      }

      @media (min-width: 1028px) {
         font-size: 45px;
      }
   }

   .list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      @media (min-width: 768px) {
         grid-template-columns: 1fr 1fr;
      }

      @media (min-width: 1028px) {
         grid-template-columns: 1fr 1fr 1fr;
      }
      .service {
         border: 1px solid var(--backgroundPrimary);
         padding: 5px;
         box-shadow: 2px 2px 8px orangered;
         border-radius: 8px;
         height: fit-content;
         height: 100%;

         .name {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            h2 {
               color: orangered;
            }

            .actions {
               display: flex;
               align-items: center;
               margin: 0;
               gap: 20px;
               font-size: 24px;

               .delete {
                  color: red;
               }

               .edit {
                  color: rgb(91, 91, 165);
               }
            }
         }


         .description {
            color: var(--accentPrimary);
         }
      }
   }

   @media (min-width: 700px) {
      .services_heading {
         font-size: 36px;
      }
   }

   .actions {
      margin: 50px 0;

      @media (min-width: 768px) {
         margin: 150px 0;
      }

      .book_shoot {
         border: 1px solid orangered;
         border-radius: 8px;
         padding: 10px;
         transition: 0.3s ease-in;
      }

      .book_shoot:hover {
         color: var(--accentPrimary);
         border-color: var(--accentPrimary);
         transform: translateY(-10px);
      }
   }
}
