@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Monoton&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;


    --backgroundPrimary: #171826;
    --backgroundSecondary: #0c0d14;
    --titleFont: 'Monoton', cursive;
    --fontPrimary: 'Space Mono', monospace;
    --fontSecondary: 'Major Mono Display', monospace;

    color: white !important;

}

h1 {
  font-family: var(--fontSecondary);
}

p, li {
  font-family: var(--fontPrimary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


