/** @format */

@font-face {
   font-family: youngHeart;
   src: url("../public/assets/fonts/young_heart/Young\ Heart.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Monoton&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html,
body {
   padding: 0;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

   --backgroundPrimary: #171826;
   --backgroundSecondary: #0c0d14;
   --titleFont: "Monoton", cursive;
   --fontPrimary: "Space Mono", monospace;
   --fontSecondary: "Major Mono Display", monospace;
   --accentPrimary: #BFDB38;
   --accentSecondary: #1F8A70;
   color: white !important;
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: var(--fontPrimary);
}

h1 {
   color: orangered;
}

form {
   .feedback {
      margin-bottom: 20px;
      .error {
         color: red;
      }
   }
   .heading {
      font-weight: 700;
      margin-bottom: 20px;
      color: white;
      

      @media (min-width: 768px) {
         font-size: 21px;
         margin-bottom: 30px;
      }
   }
   .field {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      width: 100%;

      @media (min-width: 768px) {
         width: 400px;
      }

      div {
         display: flex;
         gap: 5px;

         input {
            width: 47%;

            @media (min-width: 768px) {
               width: 197.5px;
            }
         }
      }

      label {
         font-weight: 300;
         margin-bottom: 5px;
         color: orangered;
      }

      input, textarea {
         width: 100%;
         padding: 10px 5px;
         border-radius: 8px;
         color: black;
      }

      textarea {
        height: 100px;
      }

      input:focus {
         outline: none;
      }
   }

   .checkbox {
    flex-direction: row;
    align-items: center;
    gap: 30px;

    label {
      width: 150px;
    }

    input {
      width: 20px;
    }
   }

   .actions {
      display: flex;
      gap: 20px;
    button {
      padding: 5px;
      border-radius: 8px;
      transition: .3s ease-in
    }

    button:hover {
      transform: translateY(-5px);
    }

    .submit {
      background: var(--accentSecondary);
      color: var(--backgroundPrimary);
    }

    .cancel {
      border: 1px solid orangered;
    }
   }
}

.dashboard {
  background: var(--backgroundPrimary);
  min-height: 100vh;
}

.selected {
  border: 1px solid red;
}


iframe {
   background: var(--backgroundPrimary);
}

.login, .register {
   background: var(--backgroundPrimary);
   min-height: 100vh;
   display: flex;
   justify-content: center;
   padding: 50px 10px;

   @media (min-width: 768px) {
      padding: 100px;
   }
}

.gallery {
   background: var(--backgroundPrimary);
   min-height: 100vh;

   display: flex;
   flex-direction: column;
   align-items: center;

   .heading {
      font-weight: 700;
      margin: 20px 0;
      color: white;
      

      @media (min-width: 768px) {
         font-size: 24px;
         margin: 30px 0;
      }
   }

   .images-container {
      .images {
         .image {
            width: 300px;
            padding: 5px;
            border: 1px solid orangered;
            position: relative;

            .actions {
               position: absolute;
               top: 10px;
               right: 10px;
               font-size: 24px;
 
               
               .delete {
                  color: red;
               }
            }
         }
      }
   }
}